.footer {
  background: var(--vert);
  color: white;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
}

/* conteneur principal */

.footer-content {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* sections */

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
}

/* liens */

.footer-section a {
  color: #f0f0f0;
  text-decoration: none;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
}

.footer-section a:hover {
  color: var(--rose);
}

/* logo */

.footer-logo {
  height: 80px;
  width: 80px;
  object-fit: contain;
  margin-top: 25px;
  margin-left: 32px;
}

/* newsletter */

.newsletter-form {
  display: flex;
  gap: 6px;
  margin-top: 6px;
}

.newsletter-form input {
  padding: 6px;
  border-radius: 6px;
  border: none;
}

.newsletter-form button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: var(--terracotta);
  color: white;
  cursor: pointer;
}

.newsletter-form button:hover {
  opacity: 0.9;
}

/* réseaux sociaux */

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 36px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  background: rgba(255,255,255,0.15);
  border-radius: 50%;

  transition: 0.2s;
}

.social-links a:hover {
  background: var(--terracotta);
}

.social-links img {
  width: 32px;
  height: 32px;
}

/* bas du footer */

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 0.75rem;
  padding-top: 0.75rem;

  text-align: center;
  font-size: 0.85rem;
  color: #eee;
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem;
  }

  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.1rem;
  }

  .footer-section {
    width: calc(50% - 0.5rem);
  }

  .footer-section h3 {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
  }

  .footer-section a,
  .footer-section p {
    font-size: 0.78rem;
  }

  .footer-logo {
    height: 75px;
    width: 75px;
    margin-top: 15px;

  }

  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
    font-size: 0.78rem;
  }

  .social-links {
    width: calc(50% - 0.5rem); /* même largeur que les sections */
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }

  .social-links a {
    width: 36px;
    height: 36px;
  }

  .social-links img {
    width: 20px;
    height: 20px;
  }

  .footer-bottom {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}