.infos-tab {
  max-width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}